
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.inline{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.popup{
    z-index: 9;
    border: 1px solid #efe7dd;
    width: 30%;
    padding: 25px 50px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup .content{
  margin: 20px 0;
}
.content p{
  font-size: 16px;
}
.content .field{
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}

.save{
  background-color: #0f75ae;
}

.close{
}


button {
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ee771c;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
